body {
font-family: Arial, sans-serif; 
background: linear-gradient(#7fbf7f, #3b7f3b); 
text-align: center;
padding: 2rem;
}

body.baby {
background: url(C:\Users\dsalogale\.vscode\BonoV.1\Bonov.1\assets\Bono-Baby.jpg) no-repeat center center fixed;
background-size: cover;
}

body.kind {
background: url() no-repeat center center fixed;
background-size: cover;
}

body.erwachsen {
background: url() no-repeat center center fixed;
background-size: cover;
}


.container {
max-width: 500px;
margin: auto;
background: white;
padding: 2rem;
border-radius: 20px;
box-shadow: 0 4px 12px rgba(0,0,0, 0.1);
}


h1 {
color: #444;
margin-bottom: 1rem;
}


#status {
font-size: 1.2rem;
margin-bottom: 1.5rem;
}

.buttons button {
margin: 10px;
padding: 10px 20px;
font-size: 1rem;
background-color: #88c057;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.2s ease;
}

.buttons button:hover {
    background-color: #6da640;
}